* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */
:root {
    --bg-primary-color: #FF6900;
    --bg-color-dark: #1A1A1A;

}

.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

/* Debug */
.debug {

    * {
        border: 2px dashed black;
    }

    /* Header Debug */
    header {
        min-height: 70px;
        background-color: red;
    }

    .row {
        background-color: blue;
    }

    .col-4 {
        background-color: lightgray;
    }
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Header */
header {
    padding: 1.2rem;
    font-size: 1.2rem;
    background-color: var(--bg-primary-color);
    color: white;

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 150px;
        align-self: center;
    }

    ul {
        list-style: none;
        gap: 20px;
    }

    a {
        color: white;
    }

    .header-actions {
        gap: 15px;
    }

}

/* Main Content */
section {
    margin: 20px 0;

    .row {
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    .col-4 {
        width: calc(100% / 12 * 4);
        padding: 1rem;
    }

    .card {
        position: relative;

        .secondary-image {
            position: absolute;
            top: 0;
            left: 0;
            display: none;
        }
    }

    .card:hover {
        .main-image {
            display: none;
        }

        .secondary-image {
            display: block;
        }
    }
}